*{
  box-sizing: border-box;
}

body{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}




.mazeContainer{
  margin-top: 60px;
  clear: left;
}

.button{
  width: 150px;
  cursor: pointer;
  background: linear-gradient(to top, white, lightgray);
}

.cell{
  width: 12px;
  height: 12px;
  /*border:1px solid black;*/
  float: left;
  background: linear-gradient(to top right, white, lightblue);
  margin: 0px;
  /*text-align: center;*/
 /* padding: 6px;*/
  /*cursor: pointer;*/
}
.passage{
  background: lightgray;
}

div.entryPoint.cell{
  background-color: red;
}

.path{
  background-color: lightgreen;
}

div.cell.focus{
  background-color: blue;
}



